<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Your WCAG Palette</title>
    <link rel="stylesheet" href="https://use.typekit.net/hiy5ivd.css">
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <main>
        <h1>Your WCAG Color Palette</h1>

        <div class="palette" style="background-color: <%= palette.base %>;">
            <% Object.entries(palette).forEach(([name, color])=> { %>
                <div class="color-box" style="color: <%= color %>;">
                    <p>
                        <%= name %>
                    </p>
                    <p>
                        <%= color %>
                    </p>
                </div>
                <% }) %>
        </div>

        <a href="/">← Generate another palette</a>
    </main>
</body>

</html>